// Define variables for your color scheme

//Color private

$color-primary: #FB7D42;
$color-secondary: #F9E9CF;
$color-gray: #605e5e;
$color-light-gray: #a3a3a3;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
