.show_recipes{
  width: 100%;
  height: 100%;
  color: $color-gray;
  padding: 0.5rem;

  .navbar_sort_of {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;

    .back {
      margin: 0;
      position: absolute;
      left: 2rem;
      top: 0;
      align-items: baseline;
      background-color: rgba(255, 255, 255, 0);
    }

    h1 {
      margin: 0;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .menu_bar {
    border: 2px solid #EF6B22;
    z-index: 5;
    // position: fixed;
    margin: 5%;
    width: 90%;
    border-radius: 30px;
    height: 60px;
    top: 5rem;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    gap: 6rem;
    align-items: center;

    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);

    .menu_bar_settings {
      position: relative;
      display: flex;
      align-items: center;
      .emojie {
        font-size: 2.2rem;
        justify-content: center;
      }
      .info {
        color: black;
        text-align: center;
      }

      p {
        margin: 0rem;
      }
    }

  }

  .recipes {
    margin-top: 7rem;
  }

  .menu {
    border: 2px solid #EF6B22;
    width: 90%;
    .group_menu {
      gap: 1rem;
      h2{
        color:black;
        margin-top: 0.4rem;
      }
      * {
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.settings_recall {

  border: 2px solid #EF6B22;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 100%;
  border-radius: 16px;
  height: 60px;
  top: 5rem;
  display: flex;
  justify-content: space-between;

  .menu_bar_settings {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      height: 1.8rem;
    }
    .info {
      color: black;
      text-align: center;
      font-weight: 600;
    }

    p {
      margin: 0rem;
    }
  }

}
