<h1>All button</h1>
<div>
 <a href="login.html" class="btn-primary">
      <p class="btn-text">Se connecter</p>
      <div class="round_btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
        </svg>
      </div>
    </a>

    <div class="double_btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>
    </div>

    <div class="round_btn inactive">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>
    </div>

    <div class="round_btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>
    </div>

</div>
<h1>All card</h1>
<div>
  <h1>Deck card</h1>
  <div class="deck_container">
    <div class="recipe_card">
      <div class="recipe_main">
        <div class="recipe_lock">
          <i class="fas fa-lock"></i>
        </div>
        <img src="/assets/img/recipe.webp" alt="">
        <h2 class="recipe_title">1</h2>
      </div>
    </div>
    <div class="recipe_card">
      <div class="recipe_main">
        <div class="recipe_lock">
          <i class="fas fa-lock"></i>
        </div>
        <img src="/assets/img/recipe.webp" alt="">
        <h2 class="recipe_title">2</h2>
      </div>
    </div>
    <div class="recipe_card">
      <div class="recipe_main">
        <div class="recipe_lock">
          <i class="fas fa-lock"></i>
        </div>
        <img src="/assets/img/recipe.webp" alt="">
        <h2 class="recipe_title">3</h2>
      </div>
    </div>
  </div>
  <h2>Recipe card</h2>
  <div class="recipe_card">
    <div class="recipe_main">
      <img src="/assets/img/recipe.webp" alt="">
      <h2 class="recipe_title">Demain midi</h2>
    </div>
  </div>

  <h2>Recipe card 🔒</h2>
  <div class="recipe_card">
    <div class="recipe_main">
      <div class="recipe_lock">
        <i class="fas fa-lock"></i>
      </div>
      <img src="/assets/img/recipe.webp" alt="">
      <h2 class="recipe_title">Demain midi</h2>
    </div>
  </div>

  <h2>Recipe card 🔓</h2>
  <div class="recipe_card">
    <div class="recipe_main">
      <div class="recipe_lock">
        <i class="fas fa-lock-open"></i>
      </div>
      <img src="/assets/img/recipe.webp" alt="">
      <h2 class="recipe_title">Demain midi</h2>
    </div>
  </div>

  <h2>Recipe card and desc</h2>
  <div class="recipe_card">
    <div class="recipe_main">
      <img src="/assets/images/food.jpg" alt="">
      <h2 class="recipe_title">Aujourd'hui</h2>
    </div>
    <div class="recipe_description">
      <h2>Patate douce</h2>
      <h3>Ingrédients :</h3>
      <ul>
        <li>2 Patate douce</li>
        <li>300g de yaourt grec</li>
        <li>30g de fine herbes</li>
        <li>1 c. à soupe d'oignon rouge</li>
        <li>1 c. à soupe de jus de citron</li>
        <li>1 c. à soupe d'huile d'olive</li>
      </ul>
    </div>
  </div>
</div>
