.btn-primary {
  display: flex;
  background-color: #FB7D42;
  height: 4rem;
  border-radius: 2rem;
  margin: 1.3rem;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 80%;

  .btn-text {
    justify-content: space-between;
    color: $color-secondary;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin: auto;
  }
  .round_btn {
    margin: auto 0.5rem;
    width: 3.3rem;
    height: 3.3rem;
  }
}

.round_btn {
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: $color-primary;
  background-color: $color-secondary;
  align-items: center;
  justify-content: center;

  svg {
    width: 60%;
  }

  &.inactive {
    display: flex;
    position: relative;
    overflow: hidden;
    color: $white;
    background-color: $color-gray;
    box-shadow: inset 0px 0px 0px 4px $color-light-gray;
    box-sizing: border-box;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      height: 80%;
      width: 9.3px;
      transform: skew(32deg);
      background-color: rgb(163, 163, 163);
    }
  }
}

.double_btn {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, $color-secondary 50%, $color-primary 50%);
  width: 9.3rem;
  height: 4rem;
  border-radius: 4rem;
  overflow: hidden;
  margin: 16px 0;

  * {
    width: 100%;
    &:first-child {
      background-color: $color-primary;
      border-radius: 0 50% 0 0;
    }
    &:last-child {
      background-color: $color-secondary;
      border-radius: 0 0 0 50%;
    }
  }
}
