.btn-primary {
  display: flex;
  background-color: $color-secondary;
  height: 4rem;
  border-radius: 2rem;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 20rem;
  z-index: 999999;
  position:fixed;
	top: 46rem;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 2px 1px $color-gray;

  .btn-text {
    justify-content: space-between;
    color: $color-primary;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin: auto;

  }

  .round_btn {
    margin: auto 0.5rem;
    width: 3.3rem;
    height: 3.3rem;
    background-color: $color-primary ;
    color: $color-secondary;
  }
}

.round_btn {
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: $color-primary;
  background-color: $color-secondary;
  align-items: center;
  justify-content: center;

  svg {
    width: 60%;
  }

  &.inactive {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: $color-gray;
    box-shadow: inset 0px 0px 0px 6px $color-light-gray;
    box-sizing: border-box;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      height: 80%;
      width: 9.3px;
      transform: skew(32deg);
      background-color: rgb(163, 163, 163);
    }
  }
}

.double_btn {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, $color-secondary 50%, $color-primary 50%);
  width: 9.3rem;
  height: 4rem;
  border-radius: 4rem;
  overflow: hidden;
  margin-top: 16px;
  margin-bottom: -2rem;

  a {
    display: flex;
    align-items: center;
  }

  * {
    width: 100%;
    &:first-child {
      border-radius: 0 50% 0 0;
      background-color: $color-primary;
    }
    &:last-child {
      background-color: $color-secondary;
      border-radius: 0 0 0 50%;
      color: black;
    }
  }
}

.generate-disabled {
  pointer-events: none;
  background-color: grey;

  .btn-text {
    color: #a6a6a6d4;
  }

  .round_btn {
    background-color: #8b8b8b;

.list-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap:10px;
}

.validation-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  width: 40%;
  height: 4rem;
  color: #F3EEDC;
  background-color: #EF6B22;
  border-radius: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;

  .validation-btn:hover {
    background-color: $color-primary;
    transition: 3s ease-in-out;
  }

  .fa-solid {
    font-weight: 1rem;
  }
}
