// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "svgs";
@import "menu";


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
