.market_card {
  margin-bottom: 24rem;
  color: #434343;
  position: relative;
  margin: 0rem 1rem;
  overflow: hidden;
  padding: 1rem;
  background-color: white;
  margin: 3px;

  img {
    position: relative;
    height: 7rem;
    width: 30%;
    float: left;
  }

  .market_main {
    display: flex;
    flex-direction: column;
    height: 7rem;
    align-items: flex-end;

    * {
      position: relative;
    }

    .market_title {
      font-size: 1.5rem;
    }

    .market_description {
      font-size: 1rem;
    }

    .market_weight {
      font-size: 1.2rem;
    }

    .market_price_kg {
      top: 24px;
      right: 5px;
      position: absolute;
      font-size: 0.8rem;
    }

    .market_price {
      position: absolute;
      bottom: 0px;
      right: 3px;
      background-color: $color-secondary;
      border-radius: 0.5rem;
      padding: 0.1rem 0.5rem;
      font-size: 1.5rem
    }
  }
}

.list-container {
  margin-bottom: 4rem;

  h1{
    margin-top: 0.5rem;
    color: #EF6B22;
    font-size: bold;
    font-style: initial;
    font-weight: bolder;
    text-align: center;
  }

  h3 {
    margin-top: 0.5rem;
    color: $color-gray;
    font-size: bold;
    font-style: initial;
    font-weight: bolder;
    text-align: center;
  }
}

.total-price {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(243, 238, 220, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(243, 238, 220, 0.29);
}
